.nested-fields.panel.panel-default
  .panel-body
    = link_to_remove_association icon("fa fa-close"), f, class: "btn btn-default btn-sm"
    .row
      .col-xs-8.col-sm-10= f.text_field :address, label: false, placeholder: "Address"
      .col-xs-4.col-sm-2= f.check_box :primary