- toolbar(:primary) do |t|
  = t.link admin.t("buttons.new", default: "Import %{model_name}"), action: :import, icon: "fa fa-file-import", class: "btn-new-resource"
  = t.link admin.t("buttons.new", default: "New %{model_name}"), action: :new, icon: "fa fa-file-import", class: "btn-new-resource" if admin.actions.include?(:new)

- content_for(:utilities) do
  = render 'scopes' if admin.scopes.any?

div
  = render layout: 'layout' do
    - if hook?('resource.index.header')
      header.main-content-header
        = hook('resource.index.header')

    = render 'trestle/table/table', table: admin.table, collection: collection

    footer.main-content-footer
      = hook('resource.index.footer')
      = render 'trestle/table/pagination', collection: collection, entry_name: admin.model_name
