<div class="splide" data-splide-target=<%= target %> id=<%= id %>>
  <div class="splide__track">
		<ul class="splide__list">
      <% images.each do |image| %>
        <li class='splide__slide'>
          <div class='splide__slide-content'>
            <img <%=splide_lazy(image)%>/>
          </div>
        </li>
      <% end %>
		</ul>
  </div>
</div>