<div class='favourite bottom-0 start-0'>
  <div class='favourite-actions'>
    <div class='actions d-inline-flex'>
      <% favourites(user).each do |favourite|%>
        <% if favourite[:will_show] %>
          <div class='action mx-1'>
            <i class="<%= favourite[:icon] %> position-relative" <%= data_favourite(product, favourite, user) %> >
              <%= turbo_stream_from "user-#{favourite[:type]}" %>
              <%= turbo_frame_tag "user-#{favourite[:type]}" do %>
                <% render partial: 'shared/cart', locals: {id: "user-#{favourite[:type]}-#{product.id}", quantity: quantity(user.cart, product.id), badge: favourite, ordered: true } %>
              <% end %>
            </i>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>