<div class='products product item px-1'>
  <div class='product-main-inner d-flex'>
    <div class='product-images' data-controller='splide'>
      <%= render partial: 'products/attachment', locals: { images: item.images, target: 'splide', id: 'splide' } %>
      <%= render partial: 'products/attachment', locals: { images: item.images, target: 'thumbnail', id: 'splide-thumbnail' } %>
    </div>
    <div class='product-info'>
    </div>
  </div>
</div>