<%= render 'shared/breadcrumb' %>

<div  data-controller='product'>
  <%= turbo_stream_from "show" %>
  <%= turbo_frame_tag "show" do %>
    <%= render partial: 'products/item', locals: { item: @product, user: current_user } %>
  <% end %>
</div>