.ordered, .cart {
  &.one-unit {
    &:after {
      content: attr(data-label);
      color: white;
      position: absolute;
      top: 8px;
      line-height: 0;
      text-align: center;
      left: 4px;
      font-size: 11px;    
    }                    
  }

  &:after {
    content: attr(data-label);
    color: white;
    position: absolute;
    top: 8px;
    line-height: 0;
    text-align: center;
    left: 2px;
    font-size: 9px;
  }
}

.cart {
  top: 16px !important;
  left: 54px !important;  
}