.item {
  .product-main-inner {
    .product-images {
      width: 40%;
      border: 1px solid red;
      height: 500px;
    }
    .product-info {
      width: 60%;
      border: 1px solid blue;
      height: 500px;
    }
  }
}